<header>
  <nav class="navbar navbar-expand-lg navbar-dark snack-navbar" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="assets/snackicon.jpg" alt="Snackify Logo" width="36" height="36" class="me-2 rounded-circle" />
        Snackify
      </a>

      <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="navbarOpen" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [ngClass]="{'show': navbarOpen, 'collapse': true}" id="snackNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()"><a class="nav-link" routerLink="/request" routerLinkActive="active">Request Snack</a></li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()"><a class="nav-link" routerLink="/snack-list" routerLinkActive="active">Snack List</a></li>
          <li class="nav-item" *ngIf="authService.isAdmin() | async"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin Dashboard</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!authService.isLoggedIn()"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()"><a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a></li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()">
            <a class="nav-link logout-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer mt-auto py-1 fixed-bottom bg-light">
  <div class="container text-center p-0">
    <small class="text-muted">Made with ❤️ for JW by Ashby</small>
  </div>
</footer>