<div class="container mt-5 p-5">
  <h1 class="text-center mb-4">Admin Dashboard</h1>

  <div *ngIf="!loading && !error">
    <h3>Pending Requests</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Snack</th>
          <th>Drink</th>
          <th>Misc</th>
          <th>Link</th>
          <th>Date Requested</th>
          <th>Order Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of snackRequests">
          <td>{{ request.user_name }}</td>
          <td>{{ request.snack }}</td>
          <td>{{ request.drink }}</td>
          <td>{{ request.misc }}</td>
          <td><a *ngIf="request.link" href="{{ request.link }}" target="_blank" rel="noopener noreferrer">
              View Link
            </a></td>
          <td>{{ request.created_at | date:'shortDate' }}</td>
          <td>
            <button (click)="markAsOrdered(request)" *ngIf="!request.ordered_flag" class="btn btn-sm btn-success">Mark
              as Ordered</button>
          </td>
          <td>
            <button (click)="deleteRequest(request)" class="btn btn-sm btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-4">Ordered Requests</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Snack</th>
          <th>Drink</th>
          <th>Misc</th>
          <th>Link</th>
          <th>Date Requested</th>
          <th>Date Ordered</th>
          <th>Keep on Hand</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of orderedRequests">
          <td>{{ request.user_name }}</td>
          <td>{{ request.snack }}</td>
          <td>{{ request.drink }}</td>
          <td>{{ request.misc }}</td>
          <td><a *ngIf="request.link" href="{{ request.link }}" target="_blank" rel="noopener noreferrer">
              View Link
            </a></td>
          <td>{{ request.created_at | date:'shortDate' }}</td>
          <td>{{ request.ordered_at | date:'shortDate' }}</td>
          <td>
            <button (click)="markKeepOnHand(request)" *ngIf="request.ordered_flag == 1" [disabled]="request.keep_on_hand" class="btn btn-sm btn-warning">
              {{ request.keep_on_hand ? 'Marked Keep on Hand' : 'Keep on Hand' }}
            </button>
          </td>          
          <td>
            <button (click)="deleteRequest(request)" class="btn btn-sm btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 class="mt-4">Keep on Hand</h3>
    <table class="table table-striped" *ngIf="keepOnHand.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Snack</th>
          <th>Drink</th>
          <th>Misc</th>
          <th>Link</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of keepOnHand">
          <td>{{ request.user_name }}</td>
          <td>{{ request.snack }}</td>
          <td>{{ request.drink }}</td>
          <td>{{ request.misc }}</td>
          <td><a *ngIf="request.link" href="{{ request.link }}" target="_blank" rel="noopener noreferrer">
              View Link </a>
          </td>
          <td>
            <button (click)="markNotKeepOnHand(request)" class="btn btn-sm btn-danger">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>