<div class="container">
  <div class="row"> </div> <div class="row justify-content-center"> <div class="col-md-6 mt-5 d-flex flex-column align-items-center border rounded p-4">
      <img src="assets/snackicon.jpg" alt="Snack Icon" class="mb-3" style="width: 100px;">
      <h3 class="text-center mb-4" style="font-size: 1.8rem;">Welcome to Snackify!</h3>
      <p>Login to start requesting some snacks.</p>
      <button class="btn btn-lg btn-primary" routerLink="/login">Login</button>
    </div>
  </div>

  <div class="row justify-content-center"> <div class="col-md-6 mt-5 d-flex flex-column align-items-center border rounded p-4">
      <img src="assets/newuser.jpg" alt="New User Icon" class="mb-3" style="width: 100px;">
      <h3 class="text-center mb-4" style="font-size: 1.8rem;">New to the App?</h3>
      <p>Create an account to submit some snack requests!</p>
      <button class="btn btn-lg btn-outline-secondary" routerLink="/register">Create Account</button>
    </div>
  </div>
</div>
